<form method="post" action="/register">
	<label>First name - </label><input name="firstName"></input><br><br>
	<label>Last name - </label><input name="lastName"></input><br><br>
	<label>Email - </label><input name="email"></input><br><br>
	<label>Password - </label><input type="password" name="password"></input><br><br>
	<input type="submit"></input>
</form>